@font-face {
  font-family: 'Metropolische';
  src: url('./Metropolische.eot');
  src: url('./Metropolische.eot?#iefix') format('embedded-opentype'),
       url('./Metropolische.woff2') format('woff2'),
       url('./Metropolische.woff') format('woff'),
       url('./Metropolische.ttf') format('truetype'),
       url('./Metropolische.svg#Metropolische') format('svg');
  font-weight: normal;
  font-style: normal;
}