/* Global Styles */

.center-content {
  text-align: center;
}

.full-size-helper {
  height: 100%;
}

.flex-wrapper {
  display: flex;
  
  &.is-column-wrapper {
    flex-direction: column;
  }
}

.flex-absolute-center {
  justify-content: center;
  align-items: center;
}

.flex-horizontally-center {
  justify-content: center;
}

.flex-vertically-center {
  align-items: center;
}

.global-navbar {
  background: #EEEEEE;
  font-family: 'Ayuthaya';
}

.default-font-color {
  color: #222222;
}

.navbar-tilte {
  font-family: 'Ayuthaya';
  font-size: 20px;
}

.navbar-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-icon {
  font-size: 30px;
  padding-right: 13px;

  &:last-child {
    padding-right: 7px;
  }
}

/* Global styles End */

// Buttons Styles

.dark-btn {
  background: #CC1D1D;
  color: #EEEEEE;
}

.light-btn {
  background: #EEEEEE;
  color: #222222;
}

.auth-options-wrapper {
  margin-top: 59px;
}

.sign-up-btn {
  margin-top: 17px;
}

.large-btn {
  width: 216px;
  padding: 5px 0;
}

.short-btn {
  width: 100px;
  padding: 4px 0;
}

// Form Styles
.sign-up-form,
.login-form {
  min-width: 233px;
  padding-top: 29px;  
}

.input-full-width {
  width: 100%;
  font-size: 14px;
}

.flex-btns-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}

.auth-input {
  margin-top: 25px;
}

// Main Page Style
/* User Information Styles */

.user-info {
  padding: 10px 16px 29px 19px;
  background: #EEEEEE;
}

// User Info Header

.user-info-header {
  justify-content: space-between;
  align-items: center;
}

.user-name {
  font-family: 'Ayuthaya';
  font-size: 16px;
}

.user-preferences {
  color: #4A4A4A;
  font-size: 30px;
}

// User Information Body

.user-info-body {
  justify-content: space-between;
  font-size: 8px;
  padding-top: 14px;
}

.user-xp {
  padding-top: 6px;
}

.user-life-bar-wrapper,
.user-xp-bar-wrapper {
  width: 100%;
  padding-left: 10px;
}

.user-life-progress,
.user-xp-progress {
  align-items: center;
}

.user-life-icon {
  font-size: 13px;
  color: #D0021B;
}

.user-xp-bar-icon {
  font-size: 13px;
  color: #4A90E2;
}

.user-life-bar {
  .progress-bar {
    height: 14px;
    background: #D4D4D4;
    .progress-bar__primary {
      background: #D0021B;
    }
  }
}

.user-xp-bar {
  .progress-bar {
    height: 14px;
    background: #D4D4D4;
    .progress-bar__primary {
      background: #4A90E2;
    }
  } 
}

.progress-bar-text {
  display: flex;
  justify-content: space-between;
}

.user-avatar {
  width: 84px;
  height: 84px;
  margin-right: 16px;
}

.user-progress-information {
  width: 100%;
}

// User Data - Lvl and Current Gold

.user-data {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10px;
}
.user-data-lvl {
  font-size: 14px;
}

.user-data-coins {
  width: 105px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.user-data-coin {
  font-size: 10px;
  display: flex;
  align-items: flex-end;
}

.user-data-coin-img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

/* User Information Styles End */

/* User Actions Styles */

.user-actions {
  padding: 10px;
  font-size: 14px;
  font-family: 'Metropolische';
}

.user-one-column-action {
  background: #D8D8D8;
  display: flex;
  align-items: center;
  padding: 21px 0 19px 23px;
}

.user-two-columns-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 9px;
}

.user-two-column-action {
  background: #D8D8D8;
  display: flex;
  align-items: center;
  padding: 18px 0 18px 13px;
  font-size: 14px;
  width: 45%;
  margin-top: 6px;
}

.user-work-img {
  padding-right: 24px;
}

.user-projects-img,
.user-habits-img,
.user-todos-img,
.user-goals-img,
.user-info-img,
.user-stats-img {
  padding-right: 7px
}

.user-work-name {
  font-size: 58px;
}

.user-working,
.user-resting {
  font-size: 30px;
}
/* User Actions Styles End */

/* Pomodoro/Work Action Styles */

.timer-wrapper {
  padding-top: 30px;
}

.timer-time-left {
  font-family: 'Ayuthaya';
  font-size: 60px;
  text-align: center;
}

.timer-elements {
  text-align: center;
}

.timer-progress-bar {
  width: 199px;
  margin: 0 auto;
  .progress-bar {
    height: 14px;
    background: #D4D4D4;

    .progress-bar__primary {
      background: #CC1D1D;
    }
  }
}

.pomodoro-button {
  margin-top: 31px;
  text-transform: initial;
  width: 216px;
  padding: 4px 0;
}