.center-content {
  text-align: center;
}

.full-size-helper {
  height: 100%;
}

.flex-wrapper {
  display: flex;
  
  &.is-column-wrapper {
    flex-direction: column;
  }
}

.flex-absolute-center {
  justify-content: center;
  align-items: center;
}

.flex-horizontally-center {
  justify-content: center;
}

.flex-vertically-center {
  align-items: center;
}

// Buttons Styles

.dark-btn {
  background: #CC1D1D;
  color: #EEEEEE;
}

.light-btn {
  background: #EEEEEE;
  color: #222222;
}

.auth-options-wrapper {
  margin-top: 59px;
}

.sign-up-btn {
  margin-top: 17px;
}

.large-btn {
  width: 216px;
  padding: 5px 0;
}

.short-btn {
  width: 100px;
  padding: 4px 0;
}

// Form Styles
.sign-up-form,
.login-form {
  min-width: 233px;
  padding-top: 29px;  
}

.input-full-width {
  width: 100%;
  font-size: 14px;
}

.flex-btns-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}

.auth-input {
  margin-top: 25px;
}